.create-todo {
  flex: 1 1 0%;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 5px;
  background: rgba(166, 162, 162, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  border: 1px solid rgba(166, 162, 162, 0.3);
  padding: 10px;
}

.create-form {
  display: flex;
  flex: 1 1 0%;
}

.create-todo input {
  width: auto;
}

.create {
  background-color: var(--yellow);
  border-radius: 1rem;
  color: var(--dark);
  padding: 0.25rem;
}

form {
  display: flex;
}
.create.plus {
  height: 25px;
  align-self: center;
}
