.ColorPicker2D {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bg {
  height: 500px;
  width: 500px;
  position: absolute;
  border-radius: 3px;
}

.bg.lr {
  background: linear-gradient(to right, #FFFFFF 0%, rgba(255,255,255,0) 100%);
  z-index: 0;
}

.bg.ud {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #000000);
  z-index: 1;
}
.picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  position: relative;
  height: 500px;
  width: 500px;
  border-radius: 3px;
}

.picker-pointer {
  border: 1px solid black;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  z-index: 5;
  pointer-events: none;
  position: absolute;
  top: var(--handle-y);
  left: var(--handle-x);
  /* top: -1%;
  left: -1%; */
}
